{% extends 'base.html' %}
{% load static %}
{% block content %}
<a class="back-page" href="{% url 'claim_list' %}"><i class="fas fa-long-arrow-alt-left"></i>Назад</a>
<h3>Изменение рекламации</h3>
<form class="form" name="claimForm" method="post" action="{{request.path}}">
    {% csrf_token %}
    <div><label for="id_failure_date">{{form.failure_date.label}}</label> {{form.failure_date}}</div>
    <div class="united">
        <label for="id_autocar">{{form.autocar.label}}</label> {{form.autocar}}
        <label for="id_operating_time">{{form.operating_time.label}}</label> {{form.operating_time}}
    </div>
    <div><label for="id_failure_node">{{form.failure_node.label}}</label> {{form.failure_node}}</div>
    <div><label for="id_failure_description">{{form.failure_description.label}}</label> {{form.failure_description}}</div>
    <div><label for="id_recovery_method">{{form.recovery_method.label}}</label> {{form.recovery_method}}</div>
    <div><label for="id_spare_parts">{{form.spare_parts.label}}</label> {{form.spare_parts}}</div>
    <div class="united">
        <label for="id_recovery_date">{{form.recovery_date.label}}</label> {{form.recovery_date}}
        <label for="id_downtime">{{form.downtime.label}}</label> {{form.downtime}}
    </div>
    <div><label for="id_service_company">{{form.service_company.label}}</label> {{form.service_company}}</div>
    <button type="submit">Сохранить</button>
</form>
{% endblock %}